9ItR7q9BDcCBP6Ls.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-14T17:45:56.005Z",
  "id": "9ItR7q9BDcCBP6Ls",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "get number of unique people",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "85b1fbdd-7cd7-431c-bf92-9fd209c218ca",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from \"CodeMembers\" where \"food_count\" != 0 or \"food_count1\" != 0 or \"snack_count\" != 0 or \"snack_count1\" != 0 or \"entry1\"=true or \"entry2\" = true;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        0
      ],
      "id": "5e76811f-b435-478b-addd-9338e81f948c",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "tcgfUQhBwsAuROjj",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uhw76c3sX7ja8aictpmqq-PmNCYSMMW01QVAdo_P6OQ",
          "mode": "list",
          "cachedResultName": "people who showed to codeml",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uhw76c3sX7ja8aictpmqq-PmNCYSMMW01QVAdo_P6OQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uhw76c3sX7ja8aictpmqq-PmNCYSMMW01QVAdo_P6OQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.email }}"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        0
      ],
      "id": "ab2b1f8b-2cd2-4063-b8b5-75e10ace524f",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "J3rnaSuqLzWLHSYz",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "operationspolyai",
    "name": "n8n-backup-v2"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-14T17:45:56.010Z",
      "updatedAt": "2025-10-14T17:45:56.010Z",
      "role": "workflow:owner",
      "workflowId": "9ItR7q9BDcCBP6Ls",
      "projectId": "1KxArspnjifF9NPY"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-15T17:36:53.000Z",
  "versionId": "54db1550-fa47-467b-9c58-5c25c82c7632"
}