crcgiLX63B8yn7ZR.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Select rows from a table1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Select rows from a table2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Select rows from a table3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Update entry status 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table1": {
      "main": [
        [
          {
            "node": "Update entry status 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table2": {
      "main": [
        [
          {
            "node": "If already claimed food",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Accept Sat Entry": {
      "main": [
        [
          {
            "node": "Call 'Live Discord Bot stats'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If already claimed food": {
      "main": [
        [
          {
            "node": "Decline Sat Lunch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ate food 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table3": {
      "main": [
        [
          {
            "node": "If already claimed food 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If already claimed food 2": {
      "main": [
        [
          {
            "node": "Decline Sun Lunch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ate food 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ate food 1": {
      "main": [
        [
          {
            "node": "Accept Sat Lunch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ate food 2": {
      "main": [
        [
          {
            "node": "Accept Sun Lunch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update entry status 1": {
      "main": [
        [
          {
            "node": "Accept Sat Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update entry status 2": {
      "main": [
        [
          {
            "node": "Accept Sun Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Accept Sun Entry": {
      "main": [
        [
          {
            "node": "Call 'Live Discord Bot stats'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decline Sat Lunch": {
      "main": [
        [
          {
            "node": "Call 'Live Discord Bot stats'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Accept Sat Lunch": {
      "main": [
        [
          {
            "node": "Call 'Live Discord Bot stats'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decline Sun Lunch": {
      "main": [
        [
          {
            "node": "Call 'Live Discord Bot stats'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Accept Sun Lunch": {
      "main": [
        [
          {
            "node": "Call 'Live Discord Bot stats'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-17T14:44:04.491Z",
  "id": "crcgiLX63B8yn7ZR",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Verify LearnML Code",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aa2ef3b7-4bba-445b-8ac2-3b7657006301",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        32,
        32
      ],
      "id": "7b4e80f4-7203-40f6-b2ad-54f524adf8ad",
      "name": "Webhook",
      "webhookId": "aa2ef3b7-4bba-445b-8ac2-3b7657006301"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.mode }}",
                    "rightValue": "sat_entry",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3fe5b559-8c7a-4768-bbd3-1ef7b00bed74"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sat_entry"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bd378633-6d77-4ce1-bfcf-ee8a2749ed10",
                    "leftValue": "={{ $json.body.mode }}",
                    "rightValue": "sun_entry",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sun_entry"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dc5334d2-4fcb-49b7-8197-10a5d08648a4",
                    "leftValue": "={{ $json.body.mode }}",
                    "rightValue": "sat_lunch",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sat_lunch"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2e4a3273-200a-4ce0-8878-907a3bc83a7a",
                    "leftValue": "={{ $json.body.mode }}",
                    "rightValue": "sun_lunch",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sun_lunch"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        320,
        0
      ],
      "id": "61eb49ed-be6c-46be-b6bc-b7984a67e029",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "LearnMembers",
          "mode": "list",
          "cachedResultName": "LearnMembers"
        },
        "where": {
          "values": [
            {
              "column": "learnml_code",
              "value": "={{ $json.body.code }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        752,
        -96
      ],
      "id": "186153eb-6c7c-4c3e-bc7c-258a65725087",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "tcgfUQhBwsAuROjj",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "LearnMembers",
          "mode": "list",
          "cachedResultName": "LearnMembers"
        },
        "where": {
          "values": [
            {
              "column": "learnml_code",
              "value": "={{ $json.body.code }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        752,
        80
      ],
      "id": "d816c0da-30c9-4f3b-9538-448fff703877",
      "name": "Select rows from a table1",
      "credentials": {
        "postgres": {
          "id": "tcgfUQhBwsAuROjj",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "LearnMembers",
          "mode": "list",
          "cachedResultName": "LearnMembers"
        },
        "where": {
          "values": [
            {
              "column": "learnml_code",
              "value": "={{ $json.body.code }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        752,
        272
      ],
      "id": "7ac7670d-3877-4b47-8c1b-10bd9d4ce0af",
      "name": "Select rows from a table2",
      "credentials": {
        "postgres": {
          "id": "tcgfUQhBwsAuROjj",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "04e56a32-b919-4b41-90bf-8bba2ee2819b",
              "leftValue": "={{ $json.food1 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1136,
        304
      ],
      "id": "aef03365-c7d8-4d20-8b44-7172aa55f985",
      "name": "If already claimed food"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"decision\": \"confirmed\", \n  \"message\": \"Checked in for Saturday\",\n  \"mode\": \"sat_entry\",\n  \"person\": {\n    \"name\": \"{{ $json.name }}\",\n    \"email\": \"{{ $json.email }}\",\n    \"learn_to_mail_code\": \"{{ $json.learnml_code }}\",\n    \"food_pref\": \"{{ $json.food }}\",\n    \"tshirt_size\": \"{{ $json['t-shirt size'] }}\",\n    \"role\": \"{{ $json.role }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1488,
        -96
      ],
      "id": "12863672-5e51-4424-b7c9-7760e863ac61",
      "name": "Accept Sat Entry"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"decision\": \"confirmed\", \n  \"message\": \"Checked in for Sunday Entry\",\n  \"mode\": \"sun_entry\",\n  \"person\": {\n    \"name\": \"{{ $json.name }}\",\n    \"email\": \"{{ $json.email }}\",\n    \"learn_to_mail_code\": \"{{ $json.learnml_code }}\",\n    \"food_pref\": \"{{ $json.food }}\",\n    \"tshirt_size\": \"{{ $json['t-shirt size'] }}\",\n    \"role\": \"{{ $json.role }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1488,
        80
      ],
      "id": "8a0fa1f1-468b-4183-93bf-6f216b579955",
      "name": "Accept Sun Entry"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"decision\": \"confirmed\", \n  \"message\": \"This person hungry\",\n  \"mode\": \"sat_lunch\",\n  \"person\": {\n    \"name\": \"{{ $json.name }}\",\n    \"email\": \"{{ $json.email }}\",\n    \"learn_to_mail_code\": \"{{ $json.learnml_code }}\",\n    \"food_pref\": \"{{ $json.food }}\",\n    \"tshirt_size\": \"{{ $json['t-shirt size'] }}\",\n    \"role\": \"{{ $json.role }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1552,
        480
      ],
      "id": "77563406-7ef8-47bc-838b-3844bf1357bf",
      "name": "Accept Sat Lunch"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"decision\": \"denied\", \n  \"message\": \"Already ate\",\n  \"mode\": \"sat_lunch\",\n  \"person\": {\n    \"name\": \"{{ $json.name }}\",\n    \"email\": \"{{ $json.email }}\",\n    \"learn_to_mail_code\": \"{{ $json.learnml_code }}\",\n    \"food_pref\": \"{{ $json.food }}\",\n    \"tshirt_size\": \"{{ $json['t-shirt size'] }}\",\n    \"role\": \"{{ $json.role }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1536,
        288
      ],
      "id": "18760292-99be-4c5b-9add-9bdd396ccd6e",
      "name": "Decline Sat Lunch"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "LearnMembers",
          "mode": "list",
          "cachedResultName": "LearnMembers"
        },
        "where": {
          "values": [
            {
              "column": "learnml_code",
              "value": "={{ $json.body.code }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        768,
        608
      ],
      "id": "e35b8173-9cc7-4230-b64d-8f140ac1cdaf",
      "name": "Select rows from a table3",
      "credentials": {
        "postgres": {
          "id": "tcgfUQhBwsAuROjj",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "04e56a32-b919-4b41-90bf-8bba2ee2819b",
              "leftValue": "={{ $json.food2 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1152,
        640
      ],
      "id": "d2d352ea-17a8-4e39-9da8-5b1d1732f77f",
      "name": "If already claimed food 2"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"decision\": \"denied\", \n  \"message\": \"Already ate\",\n  \"mode\": \"sun_lunch\",\n  \"person\": {\n    \"name\": \"{{ $json.name }}\",\n    \"email\": \"{{ $json.email }}\",\n    \"learn_to_mail_code\": \"{{ $json.learnml_code }}\",\n    \"food_pref\": \"{{ $json.food }}\",\n    \"tshirt_size\": \"{{ $json['t-shirt size'] }}\",\n    \"role\": \"{{ $json.role }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1552,
        624
      ],
      "id": "13fd8cf9-1814-4fdb-ac2c-f0ca87647ce6",
      "name": "Decline Sun Lunch"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"decision\": \"confirmed\", \n  \"message\": \"This person hungry\",\n  \"mode\": \"sun_lunch\",\n  \"person\": {\n    \"name\": \"{{ $json.name }}\",\n    \"email\": \"{{ $json.email }}\",\n    \"learn_to_mail_code\": \"{{ $json.learnml_code }}\",\n    \"food_pref\": \"{{ $json.food }}\",\n    \"tshirt_size\": \"{{ $json['t-shirt size'] }}\",\n    \"role\": \"{{ $json.role }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1568,
        816
      ],
      "id": "0f5f5bdf-1def-459f-aed6-b791831d2a33",
      "name": "Accept Sun Lunch"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "LearnMembers",
          "mode": "list",
          "cachedResultName": "LearnMembers"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "food1": true,
            "learnml_code": "={{ $json.learnml_code }}"
          },
          "matchingColumns": [
            "learnml_code"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "learnml_code",
              "displayName": "learnml_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "school_level",
              "displayName": "school_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "school",
              "displayName": "school",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "study",
              "displayName": "study",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tech_experience",
              "displayName": "tech_experience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ai_skill",
              "displayName": "ai_skill",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "heared",
              "displayName": "heared",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "food",
              "displayName": "food",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "t-shirt size",
              "displayName": "t-shirt size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CV",
              "displayName": "CV",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "LinkedIn",
              "displayName": "LinkedIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "GitHub",
              "displayName": "GitHub",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CV_perm",
              "displayName": "CV_perm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "photo_perm",
              "displayName": "photo_perm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "entry1",
              "displayName": "entry1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "food1",
              "displayName": "food1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "food2",
              "displayName": "food2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "entry2",
              "displayName": "entry2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sent_email_code",
              "displayName": "sent_email_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sent_email_form",
              "displayName": "sent_email_form",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1344,
        448
      ],
      "id": "e316a4f3-3cd3-4dc1-af2a-f27af24a86ae",
      "name": "Ate food 1",
      "credentials": {
        "postgres": {
          "id": "tcgfUQhBwsAuROjj",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "LearnMembers",
          "mode": "list",
          "cachedResultName": "LearnMembers"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "learnml_code": "={{ $json.learnml_code }}",
            "food2": true
          },
          "matchingColumns": [
            "learnml_code"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "learnml_code",
              "displayName": "learnml_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "school_level",
              "displayName": "school_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "school",
              "displayName": "school",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "study",
              "displayName": "study",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tech_experience",
              "displayName": "tech_experience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ai_skill",
              "displayName": "ai_skill",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "heared",
              "displayName": "heared",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "food",
              "displayName": "food",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "t-shirt size",
              "displayName": "t-shirt size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CV",
              "displayName": "CV",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "LinkedIn",
              "displayName": "LinkedIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "GitHub",
              "displayName": "GitHub",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CV_perm",
              "displayName": "CV_perm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "photo_perm",
              "displayName": "photo_perm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "entry1",
              "displayName": "entry1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "food1",
              "displayName": "food1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "food2",
              "displayName": "food2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "entry2",
              "displayName": "entry2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sent_email_code",
              "displayName": "sent_email_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sent_email_form",
              "displayName": "sent_email_form",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1360,
        784
      ],
      "id": "a0fbba46-570d-4637-a8ee-595bdb57ba31",
      "name": "Ate food 2",
      "credentials": {
        "postgres": {
          "id": "tcgfUQhBwsAuROjj",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "LearnMembers",
          "mode": "list",
          "cachedResultName": "LearnMembers"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "entry1": true,
            "learnml_code": "={{ $json.learnml_code }}"
          },
          "matchingColumns": [
            "learnml_code"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "learnml_code",
              "displayName": "learnml_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "school_level",
              "displayName": "school_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "school",
              "displayName": "school",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "study",
              "displayName": "study",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tech_experience",
              "displayName": "tech_experience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ai_skill",
              "displayName": "ai_skill",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "heared",
              "displayName": "heared",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "food",
              "displayName": "food",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "t-shirt size",
              "displayName": "t-shirt size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CV",
              "displayName": "CV",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "LinkedIn",
              "displayName": "LinkedIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "GitHub",
              "displayName": "GitHub",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CV_perm",
              "displayName": "CV_perm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "photo_perm",
              "displayName": "photo_perm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "entry1",
              "displayName": "entry1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "food1",
              "displayName": "food1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "food2",
              "displayName": "food2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "entry2",
              "displayName": "entry2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sent_email_code",
              "displayName": "sent_email_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sent_email_form",
              "displayName": "sent_email_form",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1136,
        -96
      ],
      "id": "5a23b584-ee07-4a9d-a5fe-26851dd5bc76",
      "name": "Update entry status 1",
      "credentials": {
        "postgres": {
          "id": "tcgfUQhBwsAuROjj",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "LearnMembers",
          "mode": "list",
          "cachedResultName": "LearnMembers"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "entry2": true,
            "learnml_code": "={{ $json.learnml_code }}"
          },
          "matchingColumns": [
            "learnml_code"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "learnml_code",
              "displayName": "learnml_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "school_level",
              "displayName": "school_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "school",
              "displayName": "school",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "study",
              "displayName": "study",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tech_experience",
              "displayName": "tech_experience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ai_skill",
              "displayName": "ai_skill",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "heared",
              "displayName": "heared",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "food",
              "displayName": "food",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "t-shirt size",
              "displayName": "t-shirt size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CV",
              "displayName": "CV",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "LinkedIn",
              "displayName": "LinkedIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "GitHub",
              "displayName": "GitHub",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CV_perm",
              "displayName": "CV_perm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "photo_perm",
              "displayName": "photo_perm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "entry1",
              "displayName": "entry1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "food1",
              "displayName": "food1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "food2",
              "displayName": "food2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "entry2",
              "displayName": "entry2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sent_email_code",
              "displayName": "sent_email_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sent_email_form",
              "displayName": "sent_email_form",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1136,
        80
      ],
      "id": "07489fc6-5b90-45ed-80de-00d6fbf507d6",
      "name": "Update entry status 2",
      "credentials": {
        "postgres": {
          "id": "tcgfUQhBwsAuROjj",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6sKA2DhAqcZkgllM",
          "mode": "list",
          "cachedResultUrl": "/workflow/6sKA2DhAqcZkgllM",
          "cachedResultName": "Live Discord Bot stats"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1968,
        272
      ],
      "id": "af361ca6-0693-4ac8-bdf3-1e803b4eb5e3",
      "name": "Call 'Live Discord Bot stats'"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "operationspolyai",
    "name": "n8n-backup-v2"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-09-17T14:44:04.498Z",
      "createdAt": "2025-09-17T14:44:04.498Z",
      "role": "workflow:owner",
      "workflowId": "crcgiLX63B8yn7ZR",
      "projectId": "1KxArspnjifF9NPY"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-09-15T22:57:19.790Z",
      "createdAt": "2025-09-15T22:57:19.790Z",
      "id": "HSLYlejXa7chb6L9",
      "name": "LearnML"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-10-03T00:52:40.000Z",
  "versionId": "01ae7730-d57e-468f-8162-a46c114d9a34"
}