DNAjTmFK20D2p5h4xpBP2.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get VPs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get VPs": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Share folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Share folder": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-02T20:38:44.858Z",
  "id": "DNAjTmFK20D2p5h4xpBP2",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Update Google Drive Department permissions by giving VP access",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "36f104a5-e6d9-4e0b-acc1-f05394a452e1",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    \"Members\".\"email\", \n    \"Department\".\"driveID\",\n    \"Department\".\"departmentName\"\nFROM \"Members\"\nJOIN \"MemberRole\" ON \"Members\".\"id\" = \"MemberRole\".\"memberID\"\nJOIN \"MemberDepartment\" ON \"Members\".\"id\" = \"MemberDepartment\".\"memberID\"\nJOIN \"Department\" ON \"Department\".\"id\" = \"MemberDepartment\".\"departmentID\"\nWHERE \"MemberRole\".\"roleID\" = 1 \n  AND \"Members\".\"ClickUpID\" IS NOT NULL;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        0
      ],
      "id": "937c0214-fc60-487a-b467-5d6432297e86",
      "name": "Get VPs",
      "credentials": {
        "postgres": {
          "id": "tcgfUQhBwsAuROjj",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "2262c96f-51ca-4ada-ac63-f360097f78d9",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "share",
        "folderNoRootId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.driveID }}"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "writer",
            "type": "user",
            "emailAddress": "={{ $json.email }}"
          }
        },
        "options": {
          "sendNotificationEmail": false
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        816,
        16
      ],
      "id": "58e2aabc-fd6f-4294-822f-40203259c9fe",
      "name": "Share folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "TNSFiziU0Eq9j2bc",
          "name": "Google Drive PolyAI"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {
    "Get VPs": [
      {
        "json": {
          "email": "80alexanderr@gmail.com",
          "driveID": "1WRXEmYiA_H87AH_eqArF0_-K8RYrJzvQ",
          "departmentName": "Opérations"
        }
      }
    ]
  },
  "repo": {
    "owner": "operationspolyai",
    "name": "n8n-backup-v2"
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-04-02T20:38:44.863Z",
      "createdAt": "2026-04-02T20:38:44.863Z",
      "role": "workflow:owner",
      "workflowId": "DNAjTmFK20D2p5h4xpBP2",
      "projectId": "1KxArspnjifF9NPY"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-04-02T21:35:22.519Z",
  "versionId": "9819f59e-170d-4c7e-ae6c-e9cab4acf9e8"
}