DNAjTmFK20D2p5h4xpBP2.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get VPs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get VPs": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Call 'Give or remove perms for a VP for VP-only files/folders'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Get VPs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Give or remove perms for a VP for VP-only files/folders'": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-02T20:38:44.858Z",
  "id": "DNAjTmFK20D2p5h4xpBP2",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Give VP access to these comitepolyai files or folders",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        128,
        0
      ],
      "id": "36f104a5-e6d9-4e0b-acc1-f05394a452e1",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT ON (\"Members\".\"email\")\n    \"Members\".\"email\", \n    \"Department\".\"driveID\",\n    \"Department\".\"departmentName\"\nFROM \"Members\"\nJOIN \"MemberRole\" ON \"Members\".\"id\" = \"MemberRole\".\"memberID\"\nJOIN \"MemberDepartment\" ON \"Members\".\"id\" = \"MemberDepartment\".\"memberID\"\nJOIN \"Department\" ON \"Department\".\"id\" = \"MemberDepartment\".\"departmentID\"\nWHERE \"MemberRole\".\"roleID\" = 1\nORDER BY \"Members\".\"email\";",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        416,
        0
      ],
      "id": "937c0214-fc60-487a-b467-5d6432297e86",
      "name": "Get VPs",
      "credentials": {
        "postgres": {
          "id": "tcgfUQhBwsAuROjj",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        672,
        0
      ],
      "id": "2262c96f-51ca-4ada-ac63-f360097f78d9",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1EDQ_8NQXva_YLktve1ztAQyXRATDxXjwYbOyMR6G2F0",
          "mode": "list",
          "cachedResultName": "List of folders / files VP have access to",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EDQ_8NQXva_YLktve1ztAQyXRATDxXjwYbOyMR6G2F0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EDQ_8NQXva_YLktve1ztAQyXRATDxXjwYbOyMR6G2F0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        144,
        208
      ],
      "id": "13643bd7-793c-4cb7-8e8e-50fc8c64dc28",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "05MTzhNULTxNGQf0",
          "name": "Google Sheets Trigger PolyAI"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "cOpQJRoIg8IES14xDe89I",
          "mode": "list",
          "cachedResultUrl": "/workflow/cOpQJRoIg8IES14xDe89I",
          "cachedResultName": "Give or remove perms for a VP for VP-only files/folders"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.email }}"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        912,
        16
      ],
      "id": "2ee5efc4-71c0-4782-a381-808feb0703b6",
      "name": "Call 'Give or remove perms for a VP for VP-only files/folders'"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "operationspolyai",
    "name": "n8n-backup-v2"
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-04-02T20:38:44.863Z",
      "createdAt": "2026-04-02T20:38:44.863Z",
      "role": "workflow:owner",
      "workflowId": "DNAjTmFK20D2p5h4xpBP2",
      "projectId": "1KxArspnjifF9NPY"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-04-15T20:13:01.298Z",
  "versionId": "a7049a2d-f2b4-4ea5-9b6d-06edf0993e35"
}