mf93x5LpwSya0ov6.json
{
  "active": true,
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "List tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List tables": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List tables1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "List files from repository [GITHUB]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Split to single items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update file [GITHUB]": {
      "main": [
        [
          {
            "node": "Split to single items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file [GITHUB]": {
      "main": [
        [
          {
            "node": "Split to single items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split to single items": {
      "main": [
        [
          {
            "node": "Check if file exists in repository",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine file names [GITHUB]": {
      "main": [
        [
          {
            "node": "List tables1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file exists in repository": {
      "main": [
        [
          {
            "node": "Update file [GITHUB]",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file [GITHUB]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repository [GITHUB]": {
      "main": [
        [
          {
            "node": "Combine file names [GITHUB]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-15T20:36:07.554Z",
  "id": "mf93x5LpwSya0ov6",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Daily SQL Backup",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "d137ec34-fbbc-47ca-a993-09fbd67a1473",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        400,
        -80
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.table_name }}"
        },
        "returnAll": true,
        "options": {}
      },
      "id": "3b00aaec-b7ec-4858-9dd0-565de962407e",
      "name": "List tables",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1568,
        80
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "tcgfUQhBwsAuROjj",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6d188f73-1972-4952-a278-4d8489bcc7fc",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1200,
        -80
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "id": "00dcefec-0411-4d99-9ca0-705fc7e5facf",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "position": [
        1360,
        80
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "binaryPropertyName": "=data",
        "options": {
          "fileName": "={{ $('List tables1').item.json.table_name }}"
        }
      },
      "id": "39177c6f-289c-40bf-adf9-69dd863c101a",
      "name": "Convert to File1",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        1776,
        80
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "information_schema",
          "cachedResultName": "information_schema"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tables",
          "cachedResultName": "tables"
        },
        "where": {
          "values": [
            {
              "column": "table_schema",
              "value": "public"
            }
          ]
        },
        "options": {}
      },
      "id": "eb6638d7-a078-45f7-a5ce-b8644bdd0f74",
      "name": "List tables1",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1008,
        -80
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "tcgfUQhBwsAuROjj",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "https://github.com/operationspolyai",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "sql-backup",
          "mode": "list",
          "cachedResultName": "sql-backup",
          "cachedResultUrl": "https://github.com/operationspolyai/sql-backup"
        },
        "filePath": "="
      },
      "id": "2e497dc4-d8df-4339-a54d-d5149f4708e7",
      "name": "List files from repository [GITHUB]",
      "type": "n8n-nodes-base.github",
      "position": [
        576,
        -80
      ],
      "webhookId": "f7310d6a-1573-4848-9757-f9a75e359e73",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "n0Y167j70TL0upr1",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "aggregateItems",
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "6dacce94-ecfc-4280-8d90-e6806205756e",
      "name": "Combine file names [GITHUB]",
      "type": "n8n-nodes-base.itemLists",
      "position": [
        768,
        -80
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "3b3f886d-4ca8-4f04-a61f-e0351d4e78c4",
      "name": "Split to single items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        2032,
        -96
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node['Combine file names [GITHUB]'].json.name }}",
              "operation": "contains",
              "value2": "={{ $binary.data.fileName }}"
            }
          ]
        }
      },
      "id": "93c19ef1-4d6c-432f-ab3d-6d61213cab79",
      "name": "Check if file exists in repository",
      "type": "n8n-nodes-base.if",
      "position": [
        2272,
        -112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "https://github.com/operationspolyai",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "sql-backup",
          "mode": "list",
          "cachedResultName": "sql-backup",
          "cachedResultUrl": "https://github.com/operationspolyai/sql-backup"
        },
        "filePath": "={{ $binary.data.fileName }}",
        "binaryData": true,
        "commitMessage": "=backup-{{ $now.toMillis() }}"
      },
      "id": "3c622f89-2fc7-4fc8-9e8a-e8f5d18fc2f8",
      "name": "Update file [GITHUB]",
      "type": "n8n-nodes-base.github",
      "position": [
        2496,
        -112
      ],
      "webhookId": "fb5f5095-cf60-4421-8b83-91041cfc8929",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "n0Y167j70TL0upr1",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "https://github.com/operationspolyai",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "sql-backup",
          "mode": "list",
          "cachedResultName": "sql-backup",
          "cachedResultUrl": "https://github.com/operationspolyai/sql-backup"
        },
        "filePath": "={{ $binary.data.fileName }}",
        "binaryData": true,
        "commitMessage": "={{ 'backup-' + new Date().toISOString().slice(0,10) }}\n"
      },
      "id": "f9a8c27b-6fdc-437d-bbd2-204b3229e630",
      "name": "Upload file [GITHUB]",
      "type": "n8n-nodes-base.github",
      "position": [
        2496,
        96
      ],
      "webhookId": "17b56fbd-32da-4e39-ae22-8c01a7b4bbb6",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "n0Y167j70TL0upr1",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Get postgres table data\nReturn a list of existing tables and data in the postgres.  \nConvert them to csv",
        "height": 547,
        "width": 998,
        "color": 5
      },
      "id": "f8fb4bf8-a9ef-483d-95fb-decff1701827",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        944,
        -240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Make a list of existing files\nCreate backup if its a new table. \nUpdate backup if there is new data in the table",
        "height": 547,
        "width": 694,
        "color": 7
      },
      "id": "61b9cb37-8e0e-4f55-8e26-ed93a75861b1",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1968,
        -240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "![postgres table](https://articles.emp0.com/wp-content/uploads/2025/08/backup-postgres-to-github-tables.png)",
        "height": 195,
        "width": 374,
        "color": 7
      },
      "id": "55574399-e323-48a2-939a-a063175ef829",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1264,
        336
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "![github backup](https://articles.emp0.com/wp-content/uploads/2025/08/backup-postgres-to-github-repo.png)",
        "height": 259,
        "width": 694,
        "color": 7
      },
      "id": "8a48f991-2244-4895-ab41-65d596031e5c",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1968,
        336
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Get list of current tables\nReturn a list of existing files in GitHub repository. \nSome of them are tables, \nSome are readme files",
        "height": 547,
        "width": 390,
        "color": 7
      },
      "id": "4801ae45-c071-4fa0-b990-9b3f051e509e",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        528,
        -240
      ],
      "typeVersion": 1
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "operationspolyai",
    "name": "n8n-backup-v2"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-15T20:36:07.555Z",
      "updatedAt": "2025-09-15T20:36:07.555Z",
      "role": "workflow:owner",
      "workflowId": "mf93x5LpwSya0ov6",
      "projectId": "1KxArspnjifF9NPY"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Daily Schedule": {
      "recurrenceRules": [
        20
      ]
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-09-23T01:15:58.000Z",
  "versionId": "9f10bb9a-8e91-4a00-8ac0-dccc4bffe18c"
}