NjQsO8ZjNX7fK0mz.json
{
  "active": false,
  "connections": {
    "Google Calendar Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get an event": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-08T20:29:07.320Z",
  "id": "NjQsO8ZjNX7fK0mz",
  "isArchived": false,
  "meta": null,
  "name": "Schedule Announcement",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "calendarId": {
          "__rl": true,
          "value": "feb34736b6bb1c6e03b0dfee20039b9460f1336f5ffab1bb1e181d85ac0b00b4@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "LearnML"
        },
        "triggerOn": "eventStarted",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        112,
        192
      ],
      "id": "afad8728-19bf-4430-860f-0ceb9b8a6caf",
      "name": "Google Calendar Trigger",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "oULtXBL1wQQgGVyV",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1422648726324772908",
          "mode": "list",
          "cachedResultName": "CodeML 2025",
          "cachedResultUrl": "https://discord.com/channels/1422648726324772908"
        },
        "channelId": {
          "__rl": true,
          "value": "1422648727620817018",
          "mode": "list",
          "cachedResultName": "📢announcements",
          "cachedResultUrl": "https://discord.com/channels/1422648726324772908/1422648727620817018"
        },
        "content": "={{ $json.myNewField }}\n\n@everyone",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        592,
        192
      ],
      "id": "d9bbbb51-3210-4c31-8838-4f4113e2375d",
      "name": "Send a message",
      "webhookId": "c1c16933-57a1-4f5f-87ee-9a08f051eb8b",
      "credentials": {
        "discordBotApi": {
          "id": "cxGK7pRlQxV7O0GJ",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Grab the description field from the first input item\nconst raw = $input.first().json.description || \"\";\n\n// 1. Replace <br> tags with newlines\nlet cleaned = raw.replace(/<br\\s*\\/?>/gi, \"\\n\");\n\n// 2. Remove <p> and </p>\ncleaned = cleaned.replace(/<\\/?p[^>]*>/gi, \"\");\n\n// 3. Remove any other weird tags like <prp?> or unknown HTML\ncleaned = cleaned.replace(/<[^>]+>/g, \"\");\n\n// 4. Trim whitespace and collapse multiple newlines into one blank line\ncleaned = cleaned.replace(/\\n\\s*\\n\\s*\\n+/g, \"\\n\\n\").trim();\n\n// Put it back into the JSON of the first item\n$input.first().json.myNewField = cleaned;\n\n// Return the modified input items\nreturn $input.all();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        192
      ],
      "id": "7b0fa8be-40d9-4b91-8262-697222bfa1b1",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "feb34736b6bb1c6e03b0dfee20039b9460f1336f5ffab1bb1e181d85ac0b00b4@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "LearnML"
        },
        "eventId": "7thhif9dhqvo83aptdliqc8kjs",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        224,
        16
      ],
      "id": "e7daf9e8-b14c-4f42-8426-71d9ecd2c3a4",
      "name": "Get an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "oULtXBL1wQQgGVyV",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "82d9f99a-b071-4d3e-9546-4f9d727488e1",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "operationspolyai",
    "name": "n8n-backup-v2"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-08T20:29:07.329Z",
      "updatedAt": "2025-10-08T20:29:07.329Z",
      "role": "workflow:owner",
      "workflowId": "NjQsO8ZjNX7fK0mz",
      "projectId": "1KxArspnjifF9NPY"
    }
  ],
  "staticData": {
    "node:Google Calendar Trigger": {
      "lastTimeChecked": "2025-10-12T19:50:47Z"
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-14T17:45:26.000Z",
  "versionId": "5a48ebac-355a-4a80-a553-e4ecc36b4062"
}