NY5hCxozjLgksZo9.json
{
  "active": false,
  "connections": {
    "random number": {
      "main": [
        [
          {
            "node": "If learnml code already exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If learnml code already exists": {
      "main": [
        [
          {
            "node": "If exists generate another one",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If exists generate another one": {
      "main": [
        [
          {
            "node": "random number",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create random code and add member to LearnML database": {
      "main": [
        [
          {
            "node": "random number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        []
      ]
    },
    "Update rows in a table": {
      "main": [
        []
      ]
    },
    "If email exists1": {
      "main": [
        [
          {
            "node": "If email exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If email exists": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "createdAt": "2025-09-16T18:22:01.926Z",
  "id": "NY5hCxozjLgksZo9",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Create random code and add member to CodeML database",
  "nodes": [
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "CodeMembers",
          "mode": "list",
          "cachedResultName": "CodeMembers"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "CV_perm": "={{ $('Create random code and add member to LearnML database').item.json.CV_perm }}",
            "photo_perm": "={{ $('Create random code and add member to LearnML database').item.json.photo_perm }}",
            "ai_skill": "={{ $('Create random code and add member to LearnML database').item.json.ai_skill }}",
            "email": "={{ $('Create random code and add member to LearnML database').item.json.email }}",
            "name": "={{ $('Create random code and add member to LearnML database').item.json.name }}",
            "school_level": "={{ $('Create random code and add member to LearnML database').item.json.school_level }}",
            "school": "={{ $('Create random code and add member to LearnML database').item.json.school }}",
            "study": "={{ $('Create random code and add member to LearnML database').item.json.study }}",
            "tech_experience": "={{ $('Create random code and add member to LearnML database').item.json.tech_experience }}",
            "reason": "={{ $('Create random code and add member to LearnML database').item.json.reason }}",
            "heared": "={{ $('Create random code and add member to LearnML database').item.json.heared }}",
            "food": "={{ $('Create random code and add member to LearnML database').item.json.food }}",
            "t-shirt size": "={{ $('Create random code and add member to LearnML database').item.json[\"t-shirt size\"] }}",
            "CV": "={{ $('Create random code and add member to LearnML database').item.json.CV }}",
            "LinkedIn": "={{ $('Create random code and add member to LearnML database').item.json.LinkedIn }}",
            "GitHub": "={{ $('Create random code and add member to LearnML database').item.json.GitHub }}",
            "learnml_code": "={{ $('random number').item.json.randomCode }}",
            "role": "={{ $('Create random code and add member to LearnML database').item.json.role }}",
            "discord": "={{ $('Create random code and add member to LearnML database').item.json.discord }}",
            "walk_in": false
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "learnml_code",
              "displayName": "learnml_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "school_level",
              "displayName": "school_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "school",
              "displayName": "school",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "study",
              "displayName": "study",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tech_experience",
              "displayName": "tech_experience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_skill",
              "displayName": "ai_skill",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "heared",
              "displayName": "heared",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "food",
              "displayName": "food",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "t-shirt size",
              "displayName": "t-shirt size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CV",
              "displayName": "CV",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkedIn",
              "displayName": "LinkedIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "GitHub",
              "displayName": "GitHub",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CV_perm",
              "displayName": "CV_perm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "photo_perm",
              "displayName": "photo_perm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "entry1",
              "displayName": "entry1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "entry2",
              "displayName": "entry2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sent_email_code",
              "displayName": "sent_email_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sent_email_form",
              "displayName": "sent_email_form",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "food_count",
              "displayName": "food_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "snack_count",
              "displayName": "snack_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "discord",
              "displayName": "discord",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "food_count1",
              "displayName": "food_count1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "snack_count1",
              "displayName": "snack_count1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "walk_in",
              "displayName": "walk_in",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1824,
        656
      ],
      "id": "fea3bcef-2ce7-4aea-a483-4ea9d6202d41",
      "name": "Insert rows in a table",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "tcgfUQhBwsAuROjj",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Generate random integer between 0 and 999\nconst num = Math.floor(Math.random() * 1000);\n\n// Pad with leading zeros to always have 3 digits\nreturn {\n  json: {\n    randomCode: String(num).padStart(3, \"0\")\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        544
      ],
      "id": "0d3d0508-21d3-4615-850d-30ba092c7a11",
      "name": "random number"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT EXISTS (\n  SELECT 1\n  FROM \"CodeMembers\"\n  WHERE learnml_code = '{{ $json.randomCode }}'\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1280,
        560
      ],
      "id": "f51b5fdf-2dab-49c4-92d3-49eff3a2086e",
      "name": "If learnml code already exists",
      "credentials": {
        "postgres": {
          "id": "tcgfUQhBwsAuROjj",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ebaadca7-0cf6-4faf-8ada-ce5af33db6fd",
              "leftValue": "={{ $json.exists }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1504,
        640
      ],
      "id": "4ceed23f-4b16-49d9-8fad-9f6d59a63b66",
      "name": "If exists generate another one"
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"id\": 206,\n  \"learnml_code\": 321,\n  \"email\": \"massil.serik@gmail.com\",\n  \"name\": \"Massil Serik\",\n  \"school_level\": \"Université 3e année/University 3rd year\",\n  \"school\": \"Polytechnique Montréal\",\n  \"study\": \"Génie logiciel/Software engineering\",\n  \"tech_experience\": \"Python, Scikit learn, Visualisation de données/Data visualization (Matplotlib etc.), Languages de script/Scripting language (Python, Javascript, Ruby, Lua etc.), Programmation orienté objet/OOP Language (Java, C#, etc.), Back-end web development (Nest, Nuxt, Next, Express, Django, Flask, etc.), Front-end web development (React, Angular, Vue, Svelte, etc.)\",\n  \"ai_skill\": 4,\n  \"reason\": \"Learn with hand on activities\",\n  \"heared\": \"Votre école/Your school\",\n  \"food\": \"Aucun/None\",\n  \"t-shirt size\": \"M\",\n  \"discord\": \"test\",\n  \"CV\": \"https://drive.google.com/open?id=1S3b9Zh88iWbqCDkT8LgDzlugy-yCGFOi\",\n  \"LinkedIn\": \"linkedin.com/in/massil-serik-28a0a8266\",\n  \"GitHub\": null,\n  \"CV_perm\": true,\n  \"photo_perm\": true,\n  \"role\": \"Speaker\",\n  \"food_count\": 4,\n  \"entry1\": false,\n  \"entry2\": false,\n  \"walk_in\": false\n}\n"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        672,
        512
      ],
      "id": "969a79fd-6d10-4bf6-a96b-9d09a7cf114b",
      "name": "Create random code and add member to LearnML database"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "LearnMembers",
          "mode": "list",
          "cachedResultName": "LearnMembers"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "CV_perm": "={{ $('Create random code and add member to LearnML database').item.json.CV_perm }}",
            "photo_perm": "={{ $('Create random code and add member to LearnML database').item.json.photo_perm }}",
            "email": "={{ $('Create random code and add member to LearnML database').item.json.email }}",
            "learnml_code": "={{ $('random number').item.json.randomCode }}",
            "name": "={{ $('Create random code and add member to LearnML database').item.json.name }}",
            "school_level": "={{ $('Create random code and add member to LearnML database').item.json.school_level }}",
            "school": "={{ $('Create random code and add member to LearnML database').item.json.school }}",
            "study": "={{ $('Create random code and add member to LearnML database').item.json.study }}",
            "tech_experience": "={{ $('Create random code and add member to LearnML database').item.json.tech_experience }}",
            "ai_skill": "={{ $('Create random code and add member to LearnML database').item.json.ai_skill }}",
            "reason": "={{ $('Create random code and add member to LearnML database').item.json.reason }}",
            "heared": "={{ $('Create random code and add member to LearnML database').item.json.heared }}",
            "food": "={{ $('Create random code and add member to LearnML database').item.json.food }}",
            "t-shirt size": "={{ $('Create random code and add member to LearnML database').item.json['t-shirt size'] }}",
            "CV": "={{ $('Create random code and add member to LearnML database').item.json.CV }}",
            "LinkedIn": "={{ $('Create random code and add member to LearnML database').item.json.LinkedIn }}",
            "GitHub": "={{ $('Create random code and add member to LearnML database').item.json.GitHub }}",
            "role": "={{ $('Create random code and add member to LearnML database').item.json.role }}"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "learnml_code",
              "displayName": "learnml_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "school_level",
              "displayName": "school_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "school",
              "displayName": "school",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "study",
              "displayName": "study",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tech_experience",
              "displayName": "tech_experience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_skill",
              "displayName": "ai_skill",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "heared",
              "displayName": "heared",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "food",
              "displayName": "food",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "t-shirt size",
              "displayName": "t-shirt size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CV",
              "displayName": "CV",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkedIn",
              "displayName": "LinkedIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "GitHub",
              "displayName": "GitHub",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CV_perm",
              "displayName": "CV_perm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "photo_perm",
              "displayName": "photo_perm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "entry1",
              "displayName": "entry1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "food1",
              "displayName": "food1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "food2",
              "displayName": "food2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "entry2",
              "displayName": "entry2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sent_email_code",
              "displayName": "sent_email_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sent_email_form",
              "displayName": "sent_email_form",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2176,
        1040
      ],
      "id": "6e3b5c53-30df-43d9-ae43-759ffbaf51bc",
      "name": "Update rows in a table",
      "credentials": {
        "postgres": {
          "id": "tcgfUQhBwsAuROjj",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "474f85b2-128d-4e78-94c6-310e00915afe",
              "leftValue": "={{ $json.exists }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1904,
        1104
      ],
      "id": "9b2cde08-8f66-430e-b137-431b0189de80",
      "name": "If email exists",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT EXISTS (\n  SELECT 1\n  FROM \"LearnMembers\"\n  WHERE TRIM(LOWER(email)) = TRIM(LOWER('{{ $json[\"Adresse e-mail\"] }}'))\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1680,
        1088
      ],
      "id": "b0c90afd-ccd8-48bc-a05a-3e203ebcf7a9",
      "name": "If email exists1",
      "credentials": {
        "postgres": {
          "id": "tcgfUQhBwsAuROjj",
          "name": "Postgres account"
        }
      },
      "disabled": true
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "operationspolyai",
    "name": "n8n-backup-v2"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-16T18:22:01.931Z",
      "updatedAt": "2025-09-16T18:22:01.931Z",
      "role": "workflow:owner",
      "workflowId": "NY5hCxozjLgksZo9",
      "projectId": "1KxArspnjifF9NPY"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-09-15T22:57:19.790Z",
      "updatedAt": "2025-09-15T22:57:19.790Z",
      "id": "HSLYlejXa7chb6L9",
      "name": "LearnML"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-10-10T18:49:24.000Z",
  "versionId": "2622b23d-c495-430f-915d-df75112b4ef1"
}