SlAIji8xQznRbi0b.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Select Participate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Volunteers and Speakers": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "If email sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If email sent": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update rows in a table": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Update rows in a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "If email sent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If email sent1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Random wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update rows in a table1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Someone fills out form": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Participate": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Random wait": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-17T21:28:01.769Z",
  "id": "SlAIji8xQznRbi0b",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Send Emails to LearnML",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        96,
        448
      ],
      "id": "cc4004d9-25d9-4704-bbad-825202a9a8fb",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "LearnMembers",
          "mode": "list",
          "cachedResultName": "LearnMembers"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "role",
              "value": "Speaker"
            },
            {
              "column": "role",
              "value": "Volunteer"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        32,
        0
      ],
      "id": "90477033-d4f2-4ac5-a0da-4ed86f9d48d8",
      "name": "Select Volunteers and Speakers",
      "credentials": {
        "postgres": {
          "id": "tcgfUQhBwsAuROjj",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Loop Over Items').item.json.email }}",
        "subject": "Invitation et code secret LearnML Discord",
        "message": "=<!DOCTYPE html> <html>   <head>     <meta charset=\"UTF-8\" />     <title>Invitation LearnML 2025</title>   </head>   <body style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #333;\">     <p>Bonjour {{ $('Loop Over Items').item.json.name }},</p>      <p>       Tu es <strong>officiellement invité(e)</strong> à       <strong>LearnML 2025</strong> 🎉       </p>      <p>       On est super contents de t’avoir avec nous!         En pièce jointe de ce courriel, tu trouveras :     </p>      <ul>       <li>         👉 <strong>Ton accès au serveur Discord</strong> : super important pour         rester à jour avec les annonces, recevoir les notifications         automatiques, poser tes questions et connecter avec les autres         participants.       </li>       <li>         🔑 <strong>Ton code secret LearnML</strong> : ce code est         <em>unique pour toi</em> et tu dois absolument le noter ou le         mémoriser avant l’événement.           Tu en auras besoin pour :         <ul>           <li>Te <strong>présenter à l’accueil</strong> et confirmer ta présence ✅</li>           <li>Réclamer ton <strong>déjeuner gratuit</strong> 🍕</li>         </ul>       </li>     </ul>      <p style=\"font-size: 18px; font-weight: bold; margin-top: 30px;\">       Voici ton code secret LearnML :     </p>      <p       style=\"         font-size: 48px;         font-weight: bold;         color: #c62828;         text-align: center;         margin: 20px 0;       \"     >       {{ $json.learnml_code }}     </p>      <p style=\"text-align: center; margin: 40px 0;\">       <a         href=\"https://discord.gg/aqJ7d46k\"         style=\"           background-color: #5865f2;           color: #fff;           padding: 15px 30px;           text-decoration: none;           font-size: 18px;           font-weight: bold;           border-radius: 8px;           display: inline-block;         \"       >         🔗 Rejoindre le serveur Discord       </a>     </p>      <p style=\"text-align: center; font-size: 14px; color: #555;\">       Si jamais le bouton ne fonctionne pas, copie-colle ce lien dans ton       navigateur :<br />       <a href=\"https://discord.gg/aqJ7d46k\">https://discord.gg/aqJ7d46k</a>     </p>      <p>       Garde ce code avec toi en tout temps — c’est ta clé pour profiter à fond       de LearnML 2025!     </p>      <p>       On a hâte de te voir participer aux ateliers pratiques, apprendre des       conférenciers invités et créer des liens avec d’autres passionnés de       l’IA.     </p>      <p>À très bientôt à LearnML 2025! 🚀</p>   </body> </html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1296,
        48
      ],
      "id": "7b9e1ef6-305d-4fae-b1a0-1a37d451a8a7",
      "name": "Send a message",
      "webhookId": "6671ea87-8a90-4f28-8b76-0d86ace773bf",
      "credentials": {
        "gmailOAuth2": {
          "id": "unquhRC3gfJ50lma",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        704,
        48
      ],
      "id": "74b10b92-1a47-416f-a3f9-8f42d29b49c3",
      "name": "Loop Over Items",
      "executeOnce": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3c82d2dc-ebec-4d96-afa4-5bda4f86a901",
              "leftValue": "={{ $json.sent_email_code }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        992,
        48
      ],
      "id": "612ed30e-8c14-413f-b087-54efb56bfbb1",
      "name": "If email sent"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "LearnMembers",
          "mode": "list",
          "cachedResultName": "LearnMembers"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $('Loop Over Items').item.json.email }}",
            "sent_email_code": true
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "learnml_code",
              "displayName": "learnml_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "school_level",
              "displayName": "school_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "school",
              "displayName": "school",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "study",
              "displayName": "study",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tech_experience",
              "displayName": "tech_experience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ai_skill",
              "displayName": "ai_skill",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "heared",
              "displayName": "heared",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "food",
              "displayName": "food",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "t-shirt size",
              "displayName": "t-shirt size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CV",
              "displayName": "CV",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "LinkedIn",
              "displayName": "LinkedIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "GitHub",
              "displayName": "GitHub",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CV_perm",
              "displayName": "CV_perm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "photo_perm",
              "displayName": "photo_perm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "entry1",
              "displayName": "entry1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "food1",
              "displayName": "food1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "food2",
              "displayName": "food2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "entry2",
              "displayName": "entry2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sent_email_code",
              "displayName": "sent_email_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sent_email_form",
              "displayName": "sent_email_form",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1520,
        64
      ],
      "id": "a756eaca-c566-4b3f-a1a3-afaca9e54f07",
      "name": "Update rows in a table",
      "credentials": {
        "postgres": {
          "id": "tcgfUQhBwsAuROjj",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "12f117a0-b791-4cae-8fe5-8c488069325e",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -288,
        560
      ],
      "id": "25d72503-5eda-4f41-b558-dafdbb75af52",
      "name": "Someone fills out form",
      "webhookId": "12f117a0-b791-4cae-8fe5-8c488069325e"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Invitation et code secret LearnML Discord",
        "message": "=<!DOCTYPE html>\n<html>\n  <head>\n    <meta charset=\"UTF-8\" />\n    <title>Invitation LearnML 2025</title>\n  </head>\n  <body style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #333;\">\n    <p>Bonjour {{ $('Loop Over Items1').item.json.name }},</p>\n\n    <p>\n      Tu es <strong>officiellement invité(e)</strong> à\n      <strong>LearnML 2025</strong> 🎉\n    </p>\n\n    <p>\n      On est super contents de t’avoir avec nous!  \n      En pièce jointe de ce courriel, tu trouveras :\n    </p>\n\n    <ul>\n      <li>\n        👉 <strong>Ton accès au serveur Discord</strong> : super important pour\n        rester à jour avec les annonces, recevoir les notifications\n        automatiques, poser tes questions et connecter avec les autres\n        participants.\n      </li>\n      <li>\n        🔑 <strong>Ton code secret LearnML</strong> : ce code est\n        <em>unique pour toi</em> et tu dois absolument le noter ou le\n        mémoriser avant l’événement.  \n        Tu en auras besoin pour :\n        <ul>\n          <li>📝 Te <strong>présenter à l’accueil</strong> et confirmer ta présence ✅</li>\n          <li>🍕 Réclamer ton <strong>déjeuner gratuit</strong></li>\n        </ul>\n      </li>\n    </ul>\n\n    <p style=\"font-size: 18px; font-weight: bold; margin-top: 30px;\">\n      Voici ton code secret LearnML :\n    </p>\n    <p\n      style=\"\n        font-size: 48px;\n        font-weight: bold;\n        color: #c62828;\n        text-align: center;\n        margin: 20px 0;\n      \"\n    >\n      {{ $json.learnml_code }}\n    </p>\n\n    <p style=\"text-align: center; margin: 40px 0;\">\n      <a\n        href=\"https://discord.gg/aqJ7d46k\"\n        style=\"\n          background-color: #5865f2;\n          color: #fff;\n          padding: 15px 30px;\n          text-decoration: none;\n          font-size: 18px;\n          font-weight: bold;\n          border-radius: 8px;\n          display: inline-block;\n        \"\n      >\n        🔗 Rejoindre le serveur Discord\n      </a>\n    </p>\n\n    <p style=\"text-align: center; font-size: 14px; color: #555;\">\n      Si jamais le bouton ne fonctionne pas, copie-colle ce lien dans ton\n      navigateur :<br />\n      <a href=\"https://discord.gg/aqJ7d46k\">https://discord.gg/aqJ7d46k</a>\n    </p>\n\n    <h3 style=\"margin-top: 40px;\">📍 Informations pratiques</h3>\n    <ul>\n      <li>\n        🏛️ <strong>Adresse de l’événement :</strong> \n        <a href=\"https://maps.app.goo.gl/JN4VRG9KfLWby4nb6\">\n          Lassonde Pavilion, 2500 Chemin de Polytechnique, Montréal, QC H3T 1J4\n        </a>\n      </li>\n      <li>\n        🚗 <strong>Stationnement :</strong> \n        <a href=\"https://maps.app.goo.gl/y7XdyrosGCvR2cGs9\">\n          2900 Edouard Montpetit Blvd, Montréal, QC H3T 1J4\n        </a> (20$/h)\n      </li>\n      <li>🚶 <strong>Piéton :</strong> Entrée principale du Lassonde</li>\n      <li>⏰ <strong>Heure d’arrivée :</strong> les inscriptions débutent à <strong>8h45</strong></li>\n      <li>🎤 <strong>Conférenciers invités :</strong></li>\n      <ul>\n        <li>Ranwa Al-Mallah</li>\n        <li>Omar Abdul-Wahab</li>\n        <li>Sara Beddouch</li>\n        <li>Lahcen Fatah</li>\n        <li>Mouhamed Abdul Aziz Diop</li>\n        <li>Véronique Tremblay</li>\n        <li>Christopher Teil</li>\n        <li>Sylvain Miklohoun</li>\n        <li>Patricia Gautrin</li>\n      </ul>\n    </ul>\n\n    <h3 style=\"margin-top: 30px;\">🍴 À prévoir</h3>\n    <ul>\n      <li>🥗 <strong>Nourriture servie GRATUITEMENT</strong> – inutile d’apporter ton repas</li>\n      <li>💻 Apporte <strong>ton ordinateur et ton chargeur</strong>, en t’assurant qu’il soit bien chargé à l’avance (⚠️ pas de prise dans la salle)</li>\n      <li>💧 Apporte une <strong>bouteille d’eau réutilisable</strong></li>\n    </ul>\n\n    <p\n      style=\"\n        background-color: #fff3cd;\n        border: 2px solid #f0ad4e;\n        padding: 15px;\n        font-size: 20px;\n        font-weight: bold;\n        color: #c62828;\n        text-align: center;\n        border-radius: 8px;\n        margin: 40px 0;\n      \"\n    >\n      🔑 Garde ton code avec toi en tout temps — \n      c’est ta <u>clé</u> pour profiter à fond de LearnML 2025!\n    </p>\n\n    <p>\n      On a hâte de te voir participer aux ateliers pratiques, apprendre des\n      conférenciers invités et créer des liens avec d’autres passionnés de\n      l’IA 🤖.\n    </p>\n\n    <p>À très bientôt à LearnML 2025! 🚀</p>\n  </body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1344,
        640
      ],
      "id": "191425c7-1c03-4185-a692-322f72b987ab",
      "name": "Send a message1",
      "webhookId": "6671ea87-8a90-4f28-8b76-0d86ace773bf",
      "credentials": {
        "gmailOAuth2": {
          "id": "unquhRC3gfJ50lma",
          "name": "Gmail account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        576,
        624
      ],
      "id": "b5bb06bc-2937-4b0f-a455-4d5650ebb54c",
      "name": "Loop Over Items1",
      "executeOnce": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3c82d2dc-ebec-4d96-afa4-5bda4f86a901",
              "leftValue": "={{ $json.sent_email_code }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        864,
        624
      ],
      "id": "801f26b9-359a-4723-8361-f342948b20a9",
      "name": "If email sent1"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "LearnMembers",
          "mode": "list",
          "cachedResultName": "LearnMembers"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $('Loop Over Items1').item.json.email }}",
            "sent_email_code": true
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "learnml_code",
              "displayName": "learnml_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "school_level",
              "displayName": "school_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "school",
              "displayName": "school",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "study",
              "displayName": "study",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tech_experience",
              "displayName": "tech_experience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ai_skill",
              "displayName": "ai_skill",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "heared",
              "displayName": "heared",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "food",
              "displayName": "food",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "t-shirt size",
              "displayName": "t-shirt size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CV",
              "displayName": "CV",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "LinkedIn",
              "displayName": "LinkedIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "GitHub",
              "displayName": "GitHub",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CV_perm",
              "displayName": "CV_perm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "photo_perm",
              "displayName": "photo_perm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "entry1",
              "displayName": "entry1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "food1",
              "displayName": "food1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "food2",
              "displayName": "food2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "entry2",
              "displayName": "entry2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sent_email_code",
              "displayName": "sent_email_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sent_email_form",
              "displayName": "sent_email_form",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1536,
        640
      ],
      "id": "cc073d8e-1599-481e-b25f-ebeb4b6d4813",
      "name": "Update rows in a table1",
      "credentials": {
        "postgres": {
          "id": "tcgfUQhBwsAuROjj",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "LearnMembers",
          "mode": "list",
          "cachedResultName": "LearnMembers"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "role",
              "value": "Participate"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        304,
        608
      ],
      "id": "275e0e7f-7e5d-4b78-9da5-bd317e00465e",
      "name": "Select Participate",
      "credentials": {
        "postgres": {
          "id": "tcgfUQhBwsAuROjj",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "80alexanderr@gmail.com",
        "subject": "Invitation et code secret LearnML Discord",
        "message": "=<!DOCTYPE html> <html>   <head>     <meta charset=\"UTF-8\" />     <title>Invitation LearnML 2025</title>   </head>   <body style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #333;\">     <p>Bonjour {{ $('Loop Over Items1').item.json.name }},</p>      <p>       Tu es <strong>officiellement invité(e)</strong> à       <strong>LearnML 2025</strong> 🎉       </p>      <p>       On est super contents de t’avoir avec nous!         En pièce jointe de ce courriel, tu trouveras :     </p>      <ul>       <li>         👉 <strong>Ton accès au serveur Discord</strong> : super important pour         rester à jour avec les annonces, recevoir les notifications         automatiques, poser tes questions et connecter avec les autres         participants.       </li>       <li>         🔑 <strong>Ton code secret LearnML</strong> : ce code est         <em>unique pour toi</em> et tu dois absolument le noter ou le         mémoriser avant l’événement.           Tu en auras besoin pour :         <ul>           <li>Te <strong>présenter à l’accueil</strong> et confirmer ta présence ✅</li>           <li>Réclamer ton <strong>déjeuner gratuit</strong> 🍕</li>         </ul>       </li>     </ul>      <p style=\"font-size: 18px; font-weight: bold; margin-top: 30px;\">       Voici ton code secret LearnML :     </p>      <p       style=\"         font-size: 48px;         font-weight: bold;         color: #c62828;         text-align: center;         margin: 20px 0;       \"     >       {{ $json.learnml_code }}     </p>      <p style=\"text-align: center; margin: 40px 0;\">       <a         href=\"https://discord.gg/aqJ7d46k\"         style=\"           background-color: #5865f2;           color: #fff;           padding: 15px 30px;           text-decoration: none;           font-size: 18px;           font-weight: bold;           border-radius: 8px;           display: inline-block;         \"       >         🔗 Rejoindre le serveur Discord       </a>     </p>      <p style=\"text-align: center; font-size: 14px; color: #555;\">       Si jamais le bouton ne fonctionne pas, copie-colle ce lien dans ton       navigateur :<br />       <a href=\"https://discord.gg/aqJ7d46k\">https://discord.gg/aqJ7d46k</a>     </p>      <p>       Garde ce code avec toi en tout temps — c’est ta clé pour profiter à fond       de LearnML 2025!     </p>      <p>       On a hâte de te voir participer aux ateliers pratiques, apprendre des       conférenciers invités et créer des liens avec d’autres passionnés de       l’IA.     </p>      <p>À très bientôt à LearnML 2025! 🚀</p>   </body> </html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1472,
        1040
      ],
      "id": "170b3978-f4cf-4612-a257-bf821b9c8280",
      "name": "Send a message2",
      "webhookId": "6671ea87-8a90-4f28-8b76-0d86ace773bf",
      "credentials": {
        "gmailOAuth2": {
          "id": "unquhRC3gfJ50lma",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -80,
        640
      ],
      "id": "369a00b1-ad4b-4566-9d5c-5102b2e2e417",
      "name": "Wait",
      "webhookId": "bc8c6ca6-5e99-42fa-a018-9bbafe5abd1c"
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random()*3)+1 }}\n"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1120,
        640
      ],
      "id": "6d21c778-31e1-402e-a19f-edf7877c52ee",
      "name": "Random wait",
      "webhookId": "153c3742-21c4-4d42-883b-23ed8d945bc4"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "operationspolyai",
    "name": "n8n-backup-v2"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-17T21:28:01.772Z",
      "updatedAt": "2025-09-17T21:28:01.772Z",
      "role": "workflow:owner",
      "workflowId": "SlAIji8xQznRbi0b",
      "projectId": "1KxArspnjifF9NPY"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-09-15T22:57:19.790Z",
      "updatedAt": "2025-09-15T22:57:19.790Z",
      "id": "HSLYlejXa7chb6L9",
      "name": "LearnML"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-09-19T03:08:58.000Z",
  "versionId": "c3c52055-50c1-4e75-9ca7-e179f439ba91"
}